

<nav class="navbar navbar-expand-lg copyright2 ">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto letra">
       
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="/nosotros">Nosotros</a>
        </li>
       
       <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" routerLink="/servicios" >Servicios</a>
       </li>

       <li>
        <a class="nav-link" routerLink="/financiero">Documentación Empresa</a>
       </li>

       <li>
        <a class="nav-link" routerLink="/contacto">Contáctenos</a>
       </li>
       <li>
        <a class="nav-link" routerLink="/principal">Inicio</a>
       </li>
      </ul>
      
    </div>
    <div class="titulo">
      <h1>ACUEDUCTO EL ENCANTO DEL PATO</h1>
      
    </div>
  </div>
</nav> 
