<header>
  <!-- header inner -->
  <div class="header ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section letra fondo">
          <div class="nombre">
            <h1>ACUEDUCTO EL ENCANTO DEL PATO</h1>
          </div>
           
         </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
          <div class="header_information">
            <nav class="navigation navbar navbar-expand-md navbar-dark">
              <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto letra">
                  <li class="nav-item active ">
                    <a class="nav-link "  href="#">Nosotros</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link "  href="#">Servicios</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link "  href="#">Estado finaciero</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link "  href="#">Contáctenos</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
