
<div id="myCarousel" class="carousel slide banner_main fondo1" data-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active">
           <img class="first-slide" src="assets/servicio.jpeg" alt="First slide">
           <div class="container">
              <div class="carousel-caption relative">
                 <h1>SERVICIOS ACUEDUCTO EL ENCANTO DEL PATO</h1>
                <h3>(ASAEP)</h3>
                <h4>Suministro de agua potable en la vereda El Esterillal del municipio de Tibasosa,  con planta de tratamiento y tanques de almacenamiento, con una capacidad suficiente para cubrir la demanda en cualquier época del año incluyendo la temprada seca. Contamos con redes modernas y personal calificado para atender imprevistos o fallas del suminstro de agua.
                    Con concesión vigente frente a CorpoBoyacá brindando garantía de nuestros servicios.
                    
                </h4>
              </div>
           </div>
        </div>    
</div>