


  
     
    
      <!-- about -->
      <div id="about"  class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>NOSOTROS</h2>
                     <h3>HISTORIA:</h3>
                     <span></span>
                     <p>El acueducto inició a funcionar en el año 1980 bajo el nombre la laguna del pato, desde entonces la comunidad dio inicio al acueducto con la ayuda del señor Marco Tulio Rosas y demás lideres del sector; comenzó su suministro por gravedad después la comunidad se dirigió al Inderena para obtener el permiso correspondiente, proceso que tardó 5 años, mientras tanto se buscaron patrocinadores los cuales fueron algunos líderes políticos que suministraron cemento, varilla, arena, tubería y demás materiales, teniendo este apoyo se reunió la comunidad para realizar los trabajos necesarios y así hacer la distribución de la red haciéndose la instalación de 46 puntos de agua.

                        Actualmente este acueducto continua su funcionamiento modificándose su nombre a Asociación de Suscriptores Acueducto el Encanto del Pato con sus siglas ASAEP contando con 61 puntos de agua instalados </p>
                     
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="about_img">
                     <figure><img src="assets/planta.jpeg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <div id="about"  class="about">
        <div class="container">
           <div class="row d_flex">
            <div class="col-md-5">
                <div class="about_img">
                   <figure><img src="assets/planta.jpeg" alt="#"/></figure>
                </div>
             </div>
              <div class="col-md-7">
                 <div class="titlepage">
                   
                    <h3>MISIÓN:</h3>
                    <span></span>
                    <p>En nuestra empresa prestamos el servicio de acueducto, con calidad, continuidad y cobertura; buscando la mejora continua y satisfacción de la comunidad; comprometidos con la preservación y cuidado de los recursos naturales. </p>
                    
                 </div>
              </div>
             
           </div>
        </div>
     </div>

     <div id="about"  class="about">
        <div class="container">
           <div class="row d_flex">
              <div class="col-md-7">
                 <div class="titlepage">
                    
                    <h3>VISIÓN:</h3>
                    <span></span>
                    <p>Para 2028 ser una empresa solida, con una cobertura total en nuestra vereda, a su vez la implementación de  tecnología y métodos que mejoren la calidad del recurso hídrico. Una articulación con organismos estatales para trabajar en pro de la conservación y mejoras de los recursos naturales. </p>
                    
                 </div>
              </div>
              <div class="col-md-5">
                 <div class="about_img">
                    <figure><img src="assets/MISION.jpeg" alt="#"/></figure>
                 </div>
              </div>
           </div>
        </div>
     </div>
    
    
      
   

