/** footer **/




.copyright {
    
    padding: 20px 0px;
    background-color: #00aeef;
    
}

.copyright p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
}




/** end footer **/