
<div id="myCarousel" class="carousel slide banner_main fondo1" data-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active">
           <img class="first-slide imagen" src="assets/paramo.png" alt="First slide">
           <div class="container">
              <div class="carousel-caption relative" style="color: rgb(25, 21, 85);">
                 <h1>"DOCUMENTACIÓN Y ESTADO LEGALIZACIÓN ACUEDUCTO EL ENCANTO DEL PATO"</h1>
                
                <a href="assets/acta.pdf" download="Acta"><h2 class="documento"> 1. ACTA DE CONSTITUCIÓN CÁMARA DE COMERCIO</h2></a>
                <a href="assets/camara.pdf" download="existencia"><h2 class="documento"> 2. CERTIFICADO EXISTENCIA Y REPRESENTACIÓN</h2></a>
                <a href="assets/certificacion.pdf" download="certificacion"><h2 class="documento"> 3. CERTIFICADO ANTECEDENTES</h2></a>
                <a href="assets/dian.pdf" download="dian"><h2 class="documento"> 4. CERTIFICADO DIAN</h2></a>
                <a href="assets/finanzas.pdf" download="estado_finaciero2022"><h2 class="documento"> 5. ESTADOS FINANCIEROS 2022</h2></a>
                <a href="assets/estatutos.pdf" download="estatutos"><h2 class="documento"> 6. ESTATUTOS ACUEDUCTO</h2></a>
            
            </div>
           </div>
        </div>    
</div>

