  <!--  contact -->
  <div id="contact" class="contact direccion">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Dirección: <h3>Vereda El Esterillal Tibasosa-Boyacá</h3></h2>
             </div>
          </div>
          <div class="col-md-12">
            <div class="titlepage">
               <h2>Correo Electrónico: <h3>as.elencantodelpato@gmail.com</h3></h2>
            </div>
         </div>
         
       </div>
    </div>
 </div>
  <div id="contact" class="contact">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Envienos sus Comentarios</h2>
             </div>
          </div>
          <div class="col-md-6 offset-md-3">
             <form id="request" class="main_form">
                <div class="row">
                   <div class="col-md-12 ">
                      <input class="contactus" placeholder="Nombres" type="type" name="Nombres"> 
                   </div>
                   <div class="col-md-12">
                      <input class="contactus" placeholder="Celular" type="type" name="Celular"> 
                   </div>
                   <div class="col-md-12">
                      <input class="contactus" placeholder="Email" type="type" name="Email">                          
                   </div>
                   <div class="col-md-12">
                      <textarea class="contactus" placeholder="Message" type="type" Message="Name">Mensaje </textarea>
                   </div>
                   <div class="col-sm-12">
                      <button class="send_btn">Enviar</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>


 <!-- end contact -->