<div id="myCarousel" class="carousel slide banner_main fondo1" data-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active">
           <img class="first-slide" src="assets/esterillal2.jpeg" alt="First slide">
           <div class="container">
              <div class="carousel-caption relative">
                 <h1>"ASOCIACIÓN DE SUSCRIPTORES ACUEDUCTO EL ENCANTO DEL PATO"</h1>
                <h3>(ASAEP)</h3>
                <h4>Vereda el Esterillal-Tibasosa-Boyacá</h4>
              </div>
           </div>
        </div>    
</div>

